<footer class="footer">
  <p>Todos los derecehos Reservados</p>
</footer>

<style>

  .footer {
    margin-top: 10rem;
  }

  @media (min-width: 768px){
    .footer {
      margin-top: 0;
    }
  }
  
  .footer p {
    text-align: center;
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primario);
    padding: 4rem 0;
  }
</style>
