<section class="sobre-tech">
  <div class="contenedor sobre-tech-grid">
    <div class="sobre-tech-texto">
      <h2>Sobre los <span>TechPro</span></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        sed nostrum magni incidunt neque. Culpa provident natus non, sint
        officiis optio quisquam. Fuga commodi, sed accusantium corrupti
        perferendis temporibus accusamus optio cupiditate soluta, laudantium
        quos eaque non beatae quaerat facere, maiores sunt tempora! Omnis,
        itaque?
      </p>
    </div>
  </div>
</section>

<style>
  .sobre-tech {
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        var(--primario) 0%
      ),
      url(/img/imagen-mujer.jpg);
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
  }

  @media (min-width: 768px) {
    .sobre-tech {
      background-image: linear-gradient(
          to left,
          transparent 50%,
          var(--primario) 0%
        ),
        url(/img/imagen-mujer.jpg);
      background-repeat: repeat, no-repeat;
    }
  }

  @media (min-width: 1600px) {
    .sobre-tech {
      background-size: 100%, 210rem;
    }
  }

  .sobre-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separacion);
  }

  @media (min-width: 768px) {
    .sobre-tech-grid {
      grid-template-rows: unset;
      row-gap: unset;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
      padding: calc(var(--separacion) * 2) 0;
    }
  }

  .sobre-tech-texto {
    grid-row: 2/3;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: var(--separacion);
  }

  @media (min-width: 768px) {
    .sobre-tech-texto {
      padding-bottom: 0;
    }
  }

  .sobre-tech-texto h2 {
    font-size: 4rem;
  }

  .sobre-tech-texto p {
    font-size: 2rem;
    line-height: 2;
  }
</style>
